/node_modules
# Env
.env
.env.*
!.env.example
!.env.test
/.pnpm-store
.keentools

/github-copilot
/patrol_cli

/cagent
/tmux/plugins/*

/raycast

/nvim.bak1
/nvim_latest.bak
/nvim.bak3
/nvim.bak-not
/flutter
/flipper
/nvim.bak-default

/configstore

